<form>
    <div class="form-group">
        <input type="radio" name="answer" {%if answer = "A" %} checked {% endif %}/> A
    </div>
    <div class="form-group">
        <input type="radio" name="answer" {%if answer = "B" %} checked {% endif %}/> B
    </div>
    <div class="form-group">
        <input type="radio" name="answer" {%if answer = "C" %} checked {% endif %}/> C
    </div>
    <div class="form-group">
        <input type="radio" name="answer" {%if answer = "D" %} checked {% endif %}/> D
    </div>
    <div class="form-group">
        <input type="radio" name="answer" {%if answer = "E" %} checked {% endif %}/> E
    </div>
</form>