{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="{% static "vendor/bootstrap/bootflat/css/bootflat.css" %}"/>
  <link rel="stylesheet" href="{% static "vendor/bootstrap/css/site.min.css" %}"/>
  <link rel="stylesheet" href="{% static "lc/css/lc.css" %}"/>
</head>
<body>
<nav class="navbar navbar-default" role="navigation" id='header'>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span></button> <a class="navbar-brand" href="#"><img src="img/alc.png" height="20"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar">
        <li>
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'about' %}">About</a>
        </li>
        <li>
          <a href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar pull-right">
          <li>
              <a href="{% url 'material.create' %}">Materi Baru</a>
          </li>
          <li>
              <a href="{% url 'problem.create' %}">Soal Baru</a>
          </li>
          <li>
              <a href="{% url 'quiz.create' %}">Kuis Baru</a>
          </li>
          <li>
              <a href="{% url 'course.create' %}">Course Baru</a>
          </li>
          <li>
              {% if request.session.auth_user == None %}
              <a href="{% url 'login' %}">Login</a>
              {% else %}
              <a href="{% url 'logout' %}">Logout ({{request.session.auth_user.email}})</a>
              {% endif %}

          </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container"> 
  {% block content %}
  {% endblock %}  
</div>

{% block script %}
<script src="{% static "vendor/bootstrap/js/jquery-1.10.1.min.js"%}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.min.js"%}"></script>
{% endblock %}
</body>