<form action='{% url url %}?type={{type}}' method='post'>
    {% csrf_token %}
    <span class="error">{{form.non_field_errors}}</span>
    <div class='form-group'>
        <label>Judul</label>
        <input name='title' type='text' class='form-control' placeholder='Judul' id='title' value="{{form.title.value | default_if_none:''}}"/>
        <span class="error">{{form.title.errors}}</span>
    </div>
    <div class='form-group'>
        <label>Pertanyaan</label>
        <textarea name='question' class='form-control'>{{form.question.value | default_if_none:''}}</textarea>
        <span class="error">{{form.question.errors}}</span>
    </div>
    <label>Jawaban</label>
        <span class="error">{{form.answer.errors}}</span>
    {% if type == available_types.MC %}
        {% include "problem/detail/answer/form/_multiple_choice.html" %}
    {% else %}
        {% include "problem/detail/answer/form/_short_answer.html" %}
    {% endif %}
    <div class='form-group'>
    <button class='btn btn-default' type='button' id='preview-btn' data-toggle='modal' data-target='#preview'>Preview</button>
    <input type='submit' value='Save' class='btn btn-primary'/>
    </div>
</form>