{% extends 'master.html' %}
{% block content %}
<div class="col-md-4 col-md-offset-4">
  <div class="well">
    <h5>Register</h5>
    <form action='{% url "register" %}' method='post'>
      {% csrf_token %}
      <span class="error">{{form.non_field_errors}}</span>
      <div class="form-group">
        <label>{{form.email.label}}</label>
        <input name="{{form.email.name}}" class="form-control" value="{{form.email.value|default_if_none:''}}"/>
        <span class="error">{{form.email.errors}}</span>
      </div>
      <div class="form-group">
        <label>{{form.password.label}}</label>
        <input name="{{form.password.name}}" class="form-control" type="password"/>
        <span class="error">{{form.password.errors}}</span>
      </div>
      <div class="form-group">
        <label>{{form.confirm_password.label}}</label>
        <input name="{{form.confirm_password.name}}" class="form-control" type="password"/>
        <span class="error">{{form.confirm_password.errors}}</span>
      </div>
      <div class="form-group">
        <label>{{form.name.label}}</label>
        <input name="{{form.name.name}}" class="form-control" value="{{form.name.value|default_if_none:''}}"/>
        <span class="error">{{form.name.errors}}</span>
      </div>
      <input type='submit' value='Register' class="btn btn-primary"/>
    </form>
  </div>
</div>

{% endblock %}