<div class="form-group">
    Answer
</div>
<div class="row form-group">
    <div class="col-md-1">
        <input type="radio" type="text" {% if form.answer == 'A' %} checked {% endif %} /> A
    </div>
    <div class="col-md-11">
        Jawaban A
    </div>
</div>
<div class="row form-group">
    <div class="col-md-1">
        <input type="radio" type="text" {% if form.answer == 'B' %} checked {% endif %} /> B
    </div>
    <div class="col-md-11">
        Jawaban B
    </div>
</div>
<div class="row form-group">
    <div class="col-md-1">
        <input type="radio" type="text" {% if form.answer == 'C' %} checked {% endif %} /> C
    </div>
    <div class="col-md-11">
        Jawaban C
    </div>
</div>
<div class="row form-group">
    <div class="col-md-1">
        <input type="radio" type="text" {% if form.answer == 'D' %} checked {% endif %} /> D
    </div>
    <div class="col-md-11">
        Jawaban D
    </div>
</div>
<div class="row form-group">
    <div class="col-md-1">
        <input type="radio" type="text" {% if form.answer == 'E' %} checked {% endif %} /> E
    </div>
    <div class="col-md-11">
        Jawaban E
    </div>
</div>