<div class="form-group">
    Answer
</div>
<div class="row form-group">
    <div class="col-md-1">
        <input type="radio" type="text" {% if form.answer == 'A' %} checked {% endif %} /> A
    </div>
    <div class="col-md-11">
        <input name="choice_a" type="text" class="form-control" value="{{form.choice_a.value}}"/>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-1">
        <input type="radio" type="text" {% if form.answer == 'B' %} checked {% endif %} /> B
    </div>
    <div class="col-md-11">
        <input name="choice_b" type="text" class="form-control" value="{{form.choice_b.value}}"/>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-1">
        <input type="radio" type="text" {% if form.answer == 'C' %} checked {% endif %} /> C
    </div>
    <div class="col-md-11">
        <input name="choice_c" type="text" class="form-control" value="{{form.choice_c.value}}"/>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-1">
        <input type="radio" type="text" {% if form.answer == 'D' %} checked {% endif %} /> D
    </div>
    <div class="col-md-11">
        <input name="choice_d" type="text" class="form-control" value="{{form.choice_d.value}}"/>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-1">
        <input type="radio" type="text" {% if form.answer == 'E' %} checked {% endif %} /> E
    </div>
    <div class="col-md-11">
        <input name="choice_e" type="text" class="form-control" value="{{form.choice_e.value}}"/>
    </div>
</div>