{% extends 'master-sidebar.html' %}
{% block content %}
{{block.super}}
<div class="well col-md-9">
    <div class="content-title-user">
        {{material.title}}
    </div>
    <div class="content-desc">
        <div class="material-download">
            <a href="#" class="btn btn-primary">Download sebagai PDF</a>
        </div>
        <div class="material-content">
            {% autoescape off %}
            {{material.content}}
            {% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}