{% extends 'master-sidebar.html' %}
{% load staticfiles %}
{% block content %}
{{ block.super }}
<div class='well col-md-9'>
<div class='content-title-admin'>Buat soal baru</div>
    <div class="form-group" style="width:30%">
        <select onchange="window.location.href=this.value;" class="form-control">
            <option value="{% url 'problem.create' %}?type={{available_types.MC}}" {% if type == available_types.MC %} selected {% endif %}>Pilihan Ganda</option>
            <option value="{% url 'problem.create' %}?type={{available_types.SA}}" {% if type == available_types.SA %} selected {% endif %}>Isian Singkat</option>
        </select>
    </div>
    {% include 'problem/detail/_form.html' with url='problem.create' form=form type=type available_types=available_types%}
</div>
{% endblock %}
{% block script %}
{{ block.super}}

<!-- <script src="{% static 'vendor/ckeditor-standard/ckeditor.js' %}"></script> -->
{% include 'scripts/mathjax.html' %}
{% include 'scripts/ckeditor.html' %}
<script>
CKEDITOR.replace("content");
$("#preview-btn").click(function(){
    $("#preview-content").html(CKEDITOR.instances['content'].getData());
    MathJax.Hub.Rerender();
});
</script>
{% endblock %}